# Global ownership for all files
* @PigeonLabsInc/core-devs

# Only files related to GitHub settings
/.github/           @PigeonLabsInc/infra-team
/.github/CODEOWNERS @PigeonLabsInc/core-devs

# Server codes
/src/            @PigeonLabsInc/core-devs

# Building systems
/CMakeLists.txt  @PigeonLabsInc/build-team

# Shell and Batch scripts
/scripts/        @PigeonLabsInc/ops-team
*.sh             @PigeonLabsInc/ops-team
*.bat            @PigeonLabsInc/ops-team

# Test files
/test/           @PigeonLabsInc/test-team
